{% load static %}
<html>
  <head>
    <link rel="stylesheet" href="{% static 'css/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
  </head>
  <body>
    <button onclick="history.back()">< 뒤로가기</button>
    {% if product_list %}
    <table border="1" style="border-collapse: collapse">
      <tr>
        <td></td>
        {% for item in product_list %}
        <td>{{item}}</td>
        {% endfor %}
        <td>총합</td>
      </tr>
      <tr>
        <td>10대</td>
        {% for key, value in product_list.items %}
        <td>{{ value.10 }}</td>
        {% endfor %}
        <td>{{sumByAge.10}}</td>
      </tr>
      <tr>
        <td>20대</td>
        {% for key, value in product_list.items %}
        <td>{{ value.20 }}</td>
        {% endfor %}
        <td>{{sumByAge.20}}</td>
      </tr>
      <tr>
        <td>30대</td>
        {% for key, value in product_list.items %}
        <td>{{ value.30 }}</td>
        {% endfor %}
        <td>{{sumByAge.30}}</td>
      </tr>
      <tr>
        <td>40대</td>
        {% for key, value in product_list.items %}
        <td>{{ value.40 }}</td>
        {% endfor %}
        <td>{{sumByAge.40}}</td>
      </tr>
      <tr>
        <td>50대 이상</td>
        {% for key, value in product_list.items %}
        <td>{{ value.50 }}</td>
        {% endfor %}

        <td>{{sumByAge.50}}</td>
      </tr>
      <tr>
        <td>총합</td>
        {% for key, value in sumByProduct.items %}
        <td>{{ value }}</td>
        {% endfor %}

        <td></td>
      </tr>
    </table>

    {% comment %}
    <table border="1" style="border-collapse: collapse">
      <tr>
        <td></td>
        {% for item in product_list %}
        <td>{{item}}</td>
        {% endfor %}
        <td>총합</td>
      </tr>
      {% for key, value in age_product_list.items %}
      <tr>
        <td>{{key}}대</td>
        {% for key1, value1 in value.items %}
        <td>{{ value1 }}</td>
        {% endfor %} {% for key2, value2 in sumByAge.items %} {%if key == key2%}
        <td>{{value2}}{%endif%}{%endfor%}</td>
      </tr>

      {% endfor %}

      <tr>
        <td>총합</td>
        {% for key, value in sumByProduct.items %}
        <td>{{ value }}</td>
        {% endfor %}

        <td></td>
      </tr>
    </table>
    {% endcomment %} {% else %}
    <p>No Data</p>
    {% endif %}
  </body>
</html>
